.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
}
.avatar > img {
  height: 9rem;
}
.name-id {
  display: flex;
  flex-direction: column;
}
