.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(224, 224, 224);
  height: 39.9rem;
  box-shadow: 1px 1px 3px rgba(250 250 250 0.3);
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
}
.avatar > img {
  height: 9rem;
}
.name-id {
  display: flex;
  flex-direction: column;
}
